---
kind: Service
apiVersion: v1
metadata:
    name: qubership-apihub-test-service
    labels:
        name: qubership-apihub-test-service
        app.kubernetes.io/part-of: qubership-apihub-test-service
        app.kubernetes.io/managed-by: helm
spec:
    ports:
    -   name: web
        port: 8080
        targetPort: 8080
    selector:
        name: qubership-apihub-test-service

